body {
  background-color: #80b9d3;
  font-family: "Roboto Mono", monospace;
}
.container {
  margin: 120px auto;
  max-width: 700px;
}
form {
  padding: 30px;
  background-color: rgb(187, 216, 228);
  border-radius: 10px;
  display: flex;
}
header {
  margin-bottom: 20px;
}
h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.5;
  display: center;
}
.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 66, 0.5);
  width: 80%;
  font-size: 18px;
  border-radius: 50px;
  line-height: 20px;
  color: #274589;
}
.quote {
  font-size: 16px;
  background-color: #ebf1f1;
  padding: 20px;
  line-height: 2;
  border-radius: 10px;
  border-left: 3px solid #099cc9;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
.submit-button {
  margin-left: 10px;
  border-radius: 15px;
  width: 100px;
  font-size: 16px;
  background-color: #044d50;
  color: white;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
