img {
  max-width: 30%;
  max-height: 30%;
}
body {
  background-color: #79c2d0;
  font-family: "Roboto Mono", monospace;
}
.container {
  margin: 120px auto;
  max-width: 700px;
}
form {
  padding: 30px;
  background-color: #eaf6f6;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}
header {
  margin-bottom: 20px;
}
h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
.instructions {
  padding: 16px;
  border: 1px solid rgb(44, 149, 156);
  width: 80%;
  font-size: 18px;
  border-radius: 50px;
  line-height: 20px;
}
.quote {
  font-size: 16px;
  background-color: #ebf1f1;
  padding: 20px;
  line-height: 2;
  border-radius: 10px;
  border-left: 3px solid #099cc9;
  box-shadow: 0px 4px 30px 0px rgba(111, 129, 147, 0.03);
}
.submit-button {
  margin-left: 10px;
  border-radius: 15px;
  width: 100px;
  font-size: 18px;
  background-color: #5585b5;
  border-color: ##5585b5;
  color: white;
}
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
a {
  color: #5585b5;
  text-decoration: none;
}
